[Desktop Entry]
Name=Qtel
GenericName=EchoLink Client
Exec=qtel
Terminal=false
Categories=Application;HamRadio;Qt;Network;
Keywords=radio;ham;ptt;
Icon=qtel
Comment=The Qt EchoLink Client
Type=Application
