[Desktop Entry]
Name=Qtel
GenericName=EchoLink Client
Exec=/usr/bin/qtel
Terminal=false
Categories=Application;HamRadio;Qt;Network;
Keywords=radio;ham;ptt;
Icon=/usr/share/icons/link.xpm
Comment=The Qt EchoLink Client
Type=Application
