;;;;; Author: Richard Neese<kb3vgw@gmail.com>

[Unit]
Description=svxlink repeater control software
After=network.target remote-fs.target syslog.target time.target

[Service]
User=svxlink
Group=svxlink
EnvironmentFile=/etc/default/remotetrx
DAEMONOPTS="--cfgfile $CFGFILE "
PIDFile=/run/svxlink/remotetrx.pid
RuntimeDirectory=svxlink
ExecStartPre=-touch /var/log/svxlink
ExecStartPre=-chmod $User /var/log/svxlink
ExecStart=/usr/bin/remotetrx --pidfile $PIDFILE --logfile /var/log/remotetrx $DAEMONOPTS
ExecReload=/bin/kill -s HUP $MAINPID
Restart=on-failure
TimeoutStartSec=60
WorkingDirectory=/run/svxlink

[Install]
WantedBy=multi-user.target
