###############################################################################
#
# Filter_sounds.sh script subdirectory configuration file for the
# "TclVoiceMail" subdirectory.
#
###############################################################################

# Set up which audio clips to make a softlink for. Ths syntax is:
#   <path to original file>|<path to softlink relative original file path>
SOFTLINK_SOUNDS="\
  "

# Set up which audio clips to maximize, or normalize, the amplitude for.
MAXIMIZE_SOUNDS="\
  help \
  "

# Set up which audio clips to trim away silence on. The SILENCE_LEVEL
# configuration variable in the main configuration file is used to set
# the silence threshold.
# The clips are also maximized (normalized)
TRIM_SOUNDS="\
  messages_for \
  new_messages \
  rec_sending_to \
  name \
  unknown_userid \
  login_ok \
  rec_message \
  rec_subject \
  logged_in_menu1 \
  logged_in_menu2 \
  pnm_menu1 \
  pnm_menu2 \
  pnm_menu3 \
  message_deleted \
  wrong_userid_or_password \
  rec_done \
  login \
  rec_enter_rcpt \
  "
