###############################################################################
#
# Filter_sounds.sh script subdirectory configuration file for the
# "Core" subdirectory.
#
###############################################################################

# Set up which audio clips to make a softlink for. Ths syntax is:
#   <path to original file>|<path to softlink relative original file path>
SOFTLINK_SOUNDS="\
  "

# Set up which audio clips to maximize, or normalize, the amplitude for.
MAXIMIZE_SOUNDS="\
  interference \
  please_identify \
  "

# Set up which audio clips to trim away silence on. The SILENCE_LEVEL
# configuration variable in the main configuration file is used to set
# the silence threshold.
# The clips are also maximized (normalized)
TRIM_SOUNDS="\
  online \
  active_module \
  repeater \
  pl_is \
  hz \
  activating_link_to \
  deactivating_link_to \
  link_already_active_to \
  link_not_active_to \
  AM \
  PM \
  the_time_is \
  qso_recorder \
  "
